body{
  background-color: rgb(176, 7, 7);
}

.largeTitle 
{
  text-align: center;
  color: white;
  font-family: 'Bentham', serif;
font-family: 'Jost', sans-serif;

}
.par
{
    color: black;
    font-family: 'Bentham', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Jost', sans-serif;
}
body
{
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
@media only screen and{max: width 380px; ;
  .largeTitle {
    margin-left: 30vw;
    margin-right: 30vw;
    
  }
  .par{
    margin-top: 20vh;
    margin-bottom: 20vh;

  } 

}
