html
{
    font-size: 12px;
}
#largeTitle
{
font-size: 50px;

}
#alltitles
{
    margin-top: 20vh;
    font-family: 'Jost', sans-serif;
    line-height: 0.8;
}

body
{
    margin-left: 30vw;
    margin-right: 30vw;
}
